In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train_labels.csv")

In [3]:
testids = test['id']

In [4]:
train.status_group.value_counts(normalize = True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [5]:
def equalchance():
    x = random.random()
    if x <= 1/3:
        return('functional')
    if x >= 2/3:
        return('non functional')
    if (x > 1/3) and (x < 2/3):
        return('functional needs repair')

In [6]:
#for x in range(0,3):
#    print(equalchance())

In [7]:
functional = 0.543081
nonFuntional = 0.384242
needRepair = 0.072677

def weightedchance():
    x = random.random()
    if x <= 0.543081:
        return('functional')
    if x >= (0.927323):
        return('functional needs repair')
    if (x > 0.543081) and (x < 0.927323):
        return('non functional')

In [8]:
equalChancePred = []
weightChancePred = []

In [9]:
for x in range(len(testids)):
    value = equalchance()
    equalChancePred.append(value)

for x in range(len(testids)):
    value = weightedchance()
    weightChancePred.append(value)

In [10]:
#turn list into a data frame
testids = pd.DataFrame(testids)
equalChancePred = pd.DataFrame(np.array(equalChancePred))
weightChancePred = pd.DataFrame(np.array(weightChancePred))

In [11]:
equalChancePred.columns = ['status_group']
weightChancePred.columns = ['status_group']

In [12]:
equalChance = pd.concat([testids, equalChancePred], axis = 1)
weightChance = pd.concat([testids, weightChancePred], axis = 1)

In [13]:
equalChance.head()

      id             status_group
0  50785  functional needs repair
1  51630  functional needs repair
2  17168               functional
3  45559           non functional
4  49871  functional needs repair

In [14]:
weightChance.head()

      id    status_group
0  50785  non functional
1  51630  non functional
2  17168  non functional
3  45559      functional
4  49871      functional

In [15]:
modePred = weightChance.copy()

In [16]:
modePred['status_group'] = 'functional'

In [17]:
modePred['status_group'].value_counts()

functional    14850
Name: status_group, dtype: int64

In [18]:
#convert to csv
equalChance.to_csv('EqualChancePred.csv',index=False)
weightChance.to_csv('WeightChancePred.csv',index=False)
modePred.to_csv('ModePred.csv',index=False)